<div class="container-fluid" style="margin-top: 2%">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/main-admin">APs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user">ผู้ใช้งาน</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings">ตั้งค่า</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/univ">วิทยาเขต</a>
    </li>
  </ul>
  <div class="row g-3 align-items-center" style="margin-top: 1%">
    <div class="row g-3 align-items-center" style="margin-top: 1%">
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">วิทยาเขต : </label>
      </div>

      <div class="col-auto">
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder=""
          [(ngModel)]="univ.univ_name"
        />
      </div>

      <div class="col-auto">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="addUniv()"
        >
          บันทึก
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ที่</th>
              <th scope="col">ชื่อพื้นที่วิทยาเขต</th>
              <th scope="col">เครื่องมือ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of UnivList; let i = index">
              <th>{{ i + 1 }}</th>
              <td>{{ item.univ_name }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-univ"
                  data-bs-whatever="@fat"
                  (click)="sendUniv(item)"
                >
                  แก้ไข
                </button>

                <button
                  class="btn btn-danger"
                  id="delUser"
                  (click)="deleteUniv(item.univ_id)"
                >
                  ลบ
                </button>

                <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="edit-univ"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">แก้ไข</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-4 col-form-label"
              >ชื่อพื้นที่วิทยาเขต :
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                id="staticEmail"
                [(ngModel)]="updateUniv.univ_name"
                value="{{ updateUniv.univ_name }}"
              />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            ปิด
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="editUniv(updateUniv)"
            data-bs-dismiss="modal"
          >
            บันทึก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
