<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="card" style="margin-top: 50%">
        <div class="card-body">
          <h5 class="card-title text-center">เปลี่ยนรหัสผ่าน</h5>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >รหัสผ่านปัจจุบัน</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >รหัสผ่านใหม่</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >ยืนยันรหัสผ่านใหม่</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary" type="submit">บันทึก</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
