<div class="container-fluid" style="margin-top: 2%">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/main-admin">APs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">ผู้ใช้งาน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/settings">ตั้งค่า</a>
        </li>
      </ul>
    <div class="row g-3 align-items-center" style="margin-top: 1%">
        <nav class="nav flex-column">
            <a class="nav-link" routerLink="/device"><i class="bi bi-router-fill"></i> จัดการอุปกรณ์</a>
            <a class="nav-link" routerLink="/check-device"><i class="bi bi-tools"></i> ตรวจเช็คอุปกรณ์</a>
            <a class="nav-link" routerLink="/univ"><i class="bi bi-bank2"></i> วิทยาเขต</a>
            <a class="nav-link" routerLink="/fac"><i class="bi bi-person-workspace"></i> ข้อมูลคณะ / หน่วยงาน</a>
            <a class="nav-link" routerLink="/building"><i class="bi bi-building"></i> ข้อมูลตึก / อาคาร</a>
          </nav>
    </div>

</div><!--./container-fluid-->
  